* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header-button {
  padding: 5px;
  background-color: #009879;
  border: none;
  color: #fff;
  width: 120px;
}

.header-button:hover {
  background-color: rgba(3, 119, 96, 0.855);
  cursor:pointer;
}

.header-button:active {
  background-color: rgb(3, 119, 96);
}

.header-wrapper {
  padding: 10px;
}

.header-wrapper p {
  padding: 5px 0;
}

.header-label {
  font-weight: bold;
}

table, th, td { 
  border-left: 1px solid #111; 
  padding: 10px;
}

table { 
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid;
}

thead tr { 
  background-color: #009879;
  color: #fff;
}

tbody tr:nth-child(even) { 
  background-color: #f1f1f1;
}

.column { 
  display: flex;
  justify-content: space-between;
}

.column:hover {
  cursor: pointer;
}

.column-index:hover {
  cursor: initial;
}

.sidePanel {
 position: absolute;
 display: flex;
 transition: 0.5s ease; 
 padding: 10px;
 background-color: #f1f1f1;
 box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);;
}

.sidePanel-open {
  top:0;
  right: 0;
}

.sidePanel-closed {
  right: -250px;
  top: 0;
}

.section {
  padding: 5px;
}

.category-section, .price-section, .manufacturer-section, .allExcept-section {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

input[type='number']{
  width: 50px;
} 

input {
  margin-right: 5px;
  vertical-align: middle;
}

input:hover {
  cursor: pointer;
}

.price-wrapper div {
  padding: 5px 0;
}

.label {
  font-weight: bold;
}

.sidePanel-button {
  width: 100%;
  padding: 5px;
  background-color: #009879;
  border: none;
  color: #fff;
  margin-bottom: 5px;
}

.sidePanel-button:hover {
  background-color: rgba(3, 119, 96, 0.855);
  cursor:pointer;
}

.sidePanel-button:active {
  background-color: rgb(3, 119, 96);
}

.apply-button {
  margin-top: 5px;
}