* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.import_header {
  background-color: #f1f1f1;
}

table, th, td { 
  border-left: 1px solid #111; 
  padding: 5px;
}

table { 
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid;
  height: min-content;
}

thead tr { 
  background-color: #009879;
  color: #fff;
}

tbody tr:nth-child(even) { 
  background-color: #f1f1f1;
}

.header { 
  padding: 10px;
}

.column { 
  display: flex;
  justify-content: space-between;
}




.table-container {
  display: flex;
}

.sidePanel {
 animation: side-menu 0.5s ease alternate;
 display: grid;
}

.sidePanel-open {
  width: 30%; 
  background-color: #ddd;
  transition: 0.5s ease;
}

.sidePanel-closed {
  width: 0;
  transition: 0.5s ease;

}

.sidePanel-body div {
  margin: 5px;
}

@keyframes side-menu {
  0% {
    transform:translateX(0)
  }
  100% {
    transform: translateX(100%)
  }
}